<html>
	<head>
		<meta charset="UTF-8">
                <title>About</title>
                
	</head>
	<body>
        <h1>SCTE-35 Signal and Video Alignment Monitor</h1>

        <table style="width:50%">
		<tr>
			<td><a href="/streamList">Back to Stream List</a></td>
		</tr>
	</table>
        <p>
        Welcome to the Comcast SCTE-35 Signal and Video Alignment Monitor.<br>
        This is a proof of concept tool. It should not be considered stable<br> 
        and is subject to frequent outages for updates and testing.<br>
        <br>
        As it was inteneded to support the VDE Project, the monitoring tool is only looking at the output of Pillar,<br>
        the IP stream packager. There are only 59 streams that are enabled for ad insertion via Pillar <br>
        (~36 networks, with East and West Coast feeds). so the scope is limited for now.<br>
        <br>
        This is a prototype tool and should not be used as a final determination of ad alignment.<br>
        It should only be used as a guide for taking a closer look at a particular stream. <br>                     
        For questions, or feature requests, please contact:
        <a href="mailto:douglas_will@cable.comcast.com">Douglas Will</a><br>
        <br>
        This tool is intended for use within Comcast.  Do not share it outside of the company.<br>
        Currently this tool is only monitoring DAI enabled linear IP/HTTP streams.<br> 
        I am exploring the addition of mulitcast support in a future release.<br>
        </p>

	</body>
</html>