{{$stream:=.Stream}}
<html>
	<head>
		<meta charset="UTF-8">
		<title>{{ .Title }}</title>
		<link rel="stylesheet" href="styles/index.css" />
		<style>
			table, th, td {
				border: 1px solid black;
			}
		</style>
	</head>
	<body>
		{{$stream:=.Stream}}
		{{$date:=.Date}}
		<h1>SCTE-35 Signal and Video Alignment Monitor</h1>
		<h2>Stream: {{$stream}}</h2>
		<h2>Date: {{$date}}</h2>
		<h2>Event List</h2>

		<table style="width:75%">
			<tr>
				<th>Time</th>
				<th>Event ID</th>
				<th>Type</th>
				<th>Action</th>
				<th>Signal ID</th>
				<th>Duration</th>
			</tr>
			{{range .EventList}}
			<tr>
				<td>{{.EventFile}}</td>
				<td>{{.EventID}}</td>
				<td>{{.TypeID}}</td>
				<td> 
					{{ if eq .TypeID 54}}
						Start ad 
					{{else}}
						End ad
					{{end}}

				</td>
				<td>
					<a href="/adAlign/event?stream={{$stream}}&date={{$date}}&event={{.EventFile}}">{{.UPID}}
				</td>
				<td>{{.Duration}}</td>
			</tr>
			{{end}}
		</table>
	</body>
</html>